<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXTestLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3682A5341C5384F200B90342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3682A54D1C5384F200B90342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3682A5581C5384F200B90342</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
