<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXTbableViewIOS9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36AFB6BC1C58AFF400BB2480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36AFB6D51C58AFF400BB2480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36AFB6E01C58AFF400BB2480</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
