<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXDownloadFont.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36DDD3B61C30D48900C25698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36DDD3CF1C30D48900C25698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36DDD3DA1C30D48900C25698</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
