<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXTestBack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3617F43C1C8D77A000C9E723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3617F4551C8D77A100C9E723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3617F4601C8D77A100C9E723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
