<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXSimpleLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3674CD981C1C061E00B55386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3674CDB11C1C061F00B55386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3674CDBC1C1C061F00B55386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
