<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXSDWebImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36B3904F1C5F42A200B5263F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B390681C5F42A200B5263F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36B390731C5F42A200B5263F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
